/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    /* Light gray background */
    color: #333;
    /* Dark gray text color */
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #002d72;
    /* BMW Blue */
    color: #fff;
    /* White text color */
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #001f4f;
    /* Dark blue */
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    /* White text color for links */
    text-decoration: none;
    margin: 0 10px;
}

/* Button styles */
button,
button.button {
    background-color: #002d72;
    /* BMW Blue */
    color: #fff;
    /* White text color */
    font-size: 16px;
    /* Mittelgroße Schrift */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* Abgerundete Ecken */
}

button:hover,
button.button:hover {
    background-color: #001f4f;
    /* Darker blue on hover */
}

/* Main content styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    /* White background for main content */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Drop shadow effect */
}

/* Video and capture button styles */
video {
    display: block;
    margin: 0 auto 20px;
    border-radius: 5px;
}

#capture {
    display: block;
    margin: 0 auto;
}
